<p id="notice"><%= notice %></p>

<h1>Monthly Reports</h1>
<hr>

<h2>上傳 Title Page</h2>
<div class="form-group">
  <%= form_tag import_monthly_reports_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import", class: "btn btn-info" %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Paid</th>
      <th>Unpaid</th>
      <th>Period</th>
      <th>Report month</th>
      <th>Non deductable</th>
      <th>Remaining balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monthly_reports.each do |monthly_report| %>
      <tr>
        <td><%= monthly_report.client %></td>
        <td><%= monthly_report.paid %></td>
        <td><%= monthly_report.unpaid %></td>
        <td><%= monthly_report.period %></td>
        <td><%= monthly_report.report_month %></td>
        <td><%= monthly_report.non_deductable %></td>
        <td><%= monthly_report.remaining_balance %></td>
        <td><%= link_to 'Show', monthly_report %></td>
        <td><%= link_to 'Edit', edit_monthly_report_path(monthly_report) %></td>
        <td><%= link_to 'Destroy', monthly_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monthly Report', new_monthly_report_path %>
